!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Testisovellus (node.js)
    link(rel='stylesheet', href='/foundation-3/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body
